.full-width {
    width: 95%;
}

.half-width {
    width: 45%;
}

.form-size {
    width: 75%;
    padding: 20px;
    position: relative;
    background-color: #D1C4E9;
    color: #212121;
    left: 50%;
    transform: translateX(-50%);
}